<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trashhold_notification %><br />
    <%= f.check_box :trashhold_notification %>
  </div>
  <div class="field">
    <%= f.label :trashhold %><br />
    <%= f.number_field :trashhold %>
  </div>
  <div class="field">
    <%= f.label :start_qty_notification %><br />
    <%= f.check_box :start_qty_notification %>
  </div>
  <div class="field">
    <%= f.label :start_qty %><br />
    <%= f.number_field :start_qty %>
  </div>
  <div class="field">
    <%= f.label :emails %><br />
    <%= f.text_field :emails %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
