<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Item SKU</Data></Cell>
        <Cell><Data ss:Type="String">Item UPC</Data></Cell>
        <Cell><Data ss:Type="String">Item Name</Data></Cell>
        <Cell><Data ss:Type="String">Item Brand</Data></Cell>
        <Cell><Data ss:Type="String">Percent</Data></Cell>
      </Row>
    <% @products.each do |product| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= product[1] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product[2] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product[3] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product[4] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product[5] %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>