<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:item_id) %></th>
      <th><%= model_class.human_attribute_name(:manufacturer_item_id) %></th>
      <th><%= model_class.human_attribute_name(:upc_or_ean_id) %></th>
      <th><%= model_class.human_attribute_name(:manufacturer_id) %></th>
      <th><%= model_class.human_attribute_name(:product_name) %></th>
      <th><%= model_class.human_attribute_name(:short_description) %></th>
      <th><%= model_class.human_attribute_name(:extended_description) %></th>
      <th><%= model_class.human_attribute_name(:images) %></th>
      <th><%= model_class.human_attribute_name(:weight) %></th>
      <th><%= model_class.human_attribute_name(:length) %></th>
      <th><%= model_class.human_attribute_name(:width) %></th>
      <th><%= model_class.human_attribute_name(:height) %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%= product.item_id %></td>
        <td><%= product.manufacturer_item_id %></td>
        <td><%= product.upc_or_ean_id %></td>
        <td><%= product.manufacturer_id %></td>
        <td><%= product.product_name %></td>
        <td><%= product.short_description %></td>
        <td><%= product.extended_description %></td>
        <td><%= product.images %></td>
        <td><%= product.weight %></td>
        <td><%= product.length %></td>
        <td><%= product.width %></td>
        <td><%= product.height %></td>
          
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @products, renderer: BootstrapPagination::Rails %>