<div id='filter_zone'>
  <div id='filter'>
    <%= form_tag reports_days_drop_path, :method => :get do %>
      <span>Choose source:</span>
      <%= select_tag "source_id", options_from_collection_for_select(Source.all, "id", "name", params[:source_id]), :include_blank => false %><br>
        <span>Start date:</span>
        <%= text_field_tag 'start_date', params[:start_date], :class => 'datepicker' %>
      <br>       
        Days:
        <%= text_field_tag 'days', params[:days] %>
       <br>       
        Trashhold:
        <%= text_field_tag 'trashhold', params[:trashhold] %>

        
      </div>
      
      <script type="text/javascript">
        // $(function() {
        //   $('#datetimepicker').datepicker({
        //     format: 'yyyy/MM/dd'
        //   });
        //   $('#datetimepicker1').datepicker({
        //     format: 'yyyy/MM/dd'
        //   });
        // });
      </script>

      <%= submit_tag 'Submit', :id => 'refresh', :class => 'btn' %>
    <% end %>
  </div>
</div>
<hr />
<div id='table'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>SKU</th>
        <th>UPC</th>
        <th>Description</th>
        <th>Brand</th>
        <th>Distributor</th>
        <th>Category</th>
        <th>Cost</th>
        <th>Qty OH</th>
        <% params[:days].to_i.times do |day|%>
          <th> Day <%= day + 1%></th>
          <% end %>
        <% if params[:debug] %>
        <th>Debug info</td>
        <% end %>
      </tr>
    </thead>
    <tbody>

      <% @products.each do |products| %>
        <% if products[0] != nil  %>

        <tr>
          <td><%= products[0].item_id %></td>
          <td><%= products[0].upc_or_ean_id %></td>
          <td><%= link_to products[0].short_description, product_path(products[0]) if products[0] %></td>
          <td><%= products[0].manufacturer.name %></td>
          <td><%= @source.name %></td>
          <td><%= products[0].category %></td>
          <td><%= products[0].cost %></td>          
          <td><%= products[3] %></td>
          <% params[:days].to_i.times do |day|%>

          <td><%= products[4+day] %></td>
          <% end %>

          <% if params[:debug] %>
            <td><%= products[7] %></td>
          <% end %>
        </tr>
         <% end %>
      <% end %>
    </tbody>
  </table>
</div>


<hr />
<div id='download_links'>
  Download: <%= link_to 'CSV', reports_mashrooms_path(format: "csv", :period_start  => params[:period_start ], :period_end => params[:period_end], :begin_qty=>params[:begin_qty], :percent_threshold => params[:percent_threshold] ) %>, <%#=# link_to 'XML', products_path(format: "xls")  %>

</div>
<p>
  <script>
    // jQuery('document').ready(function(){
    //   jQuery('.datepicker').datepicker();
    // })
  </script>