
<div id='filter_zone'>
  <div id='filter'>
    <%= form_tag reports_mashrooms_path, :method => :get do %>
      <span>First date:</span>

        <%= text_field_tag 'period_start', params[:period_start], :class => 'datepicker' %>
       <br>
       <span>Second date:</span>
        <%= text_field_tag 'period_end', params[:period_end], :class => 'datepicker' %>

      <div id='begin_qty'>
        Beginning Quantity:
        <%= text_field_tag 'begin_qty', params[:begin_qty] %>
      </div>
      <div id='percent_threshold'>
        Percent Threshold:
        <%= text_field_tag 'percent_threshold', params[:percent_threshold] %>
      </div>
      <div id='cost'>
        Minimal cost:
        <%= text_field_tag 'cost', params[:cost] %>
      </div>

      <script type="text/javascript">
        $(function() {
          $('#datetimepicker').datetimepicker({
            format: 'yyyy/MM/dd',
            pickTime: false
          });
          $('#datetimepicker1').datetimepicker({
            format: 'yyyy/MM/dd',
            pickTime: false
          });
        });
      </script>

      <%= submit_tag 'Submit', :id => 'refresh', :class => 'btn' %>
    <% end %>
  </div>
</div>
<hr />
<div id='table'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Item SKU</th>
        <th>Item UPC</th>
        <th>Item Name</th>
        <th>Item Brand</th>
        <th>Begin Qty</th>
        <th>End Qty</th>
        <th>Percent</th>
        <th>Cost</th>
        <% if params[:debug] %>
        <th>Debug info</td>
        <% end %>
      </tr>
    </thead>
    <tbody>

      <% @products.each do |key, products| %>
        <% if products[5] != nil  %>

        <tr>
          <td><%= products[0] %></td>
          <td><%= products[1] %></td>
          <td><%= link_to products[2], product_path(products[11]) %></td>
          <td><%= products[3] %></td>
          <td><%= products[8] %></td>
          <td><%= products[9] %></td>
          <td><%= products[5] %>%</td>
          <td><%= products[10] %></td>
          <% if params[:debug] %>
            <td><%= products[7] %></td>
          <% end %>
        </tr>
         <% end %>
      <% end %>
    </tbody>
  </table>
</div>


<hr />
<div id='download_links'>
  Download: <%= link_to 'CSV', reports_mashrooms_path(format: "csv", :period_start  => params[:period_start ], :period_end => params[:period_end], :begin_qty=>params[:begin_qty], :percent_threshold => params[:percent_threshold] ) %>, <%#=# link_to 'XML', products_path(format: "xls")  %>

</div>
<p>
  <script>
  $('document').ready(function(){

  $('.datepicker').datepicker();

  })

  </script>